# F&G 자산총계, 부채/자본, 당좌비율, ROE, EPS

In [56]:
df_x1 = pd.read_excel("자산총계.xlsx")[9:]
df_x1.columns = ["종목코드","기업명","결산월","단위","2019","2018","2017","2016","2015","2014","2013","2012","2011","2010","2009","2008"]
df_x1.head(5)

,종목코드,기업명,결산월,단위,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
9,000020,동화약품,12,천원,3.760286e+08,3.705992e+08,3.672251e+08,3.246045e+08,3.171870e+08,3.130731e+08,3.161655e+08,3.242847e+08,3.394315e+08,3.333444e+08,3.141452e+08,3.114726e+08
10,000040,KR모터스,12,천원,1.440812e+08,1.549011e+08,1.084432e+08,1.488739e+08,1.575600e+08,1.368442e+08,1.169316e+08,1.193273e+08,1.333378e+08,1.446970e+08,1.299667e+08,1.372304e+08
11,000050,경방,12,천원,1.370742e+09,1.301793e+09,1.274042e+09,1.301911e+09,1.318643e+09,1.301841e+09,1.296989e+09,1.335040e+09,1.352324e+09,1.328917e+09,1.481471e+09,7.877243e+08
12,000070,삼양홀딩스,12,천원,3.589514e+09,3.313797e+09,3.275960e+09,3.169445e+09,3.071422e+09,2.795940e+09,2.595068e+09,2.748399e+09,1.884481e+09,2.402012e+09,1.745689e+09,1.165342e+09
13,000080,하이트진로,12,천원,3.270860e+09,3.428144e+09,3.507596e+09,3.401085e+09,3.460482e+09,3.422364e+09,3.553147e+09,3.518666e+09,3.573283e+09,1.417430e+09,1.451840e+09,1.319219e+09

In [57]:
df_x2 = pd.read_excel("부채_자본.xlsx")[9:]
df_x2.columns = ["종목코드","기업명","결산월","단위","2019","2018","2017","2016","2015","2014","2013","2012","2011","2010","2009","2008"]
df_x2.head(5)

,종목코드,기업명,결산월,단위,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
9,000020,동화약품,12,%,24.98,24.61,23.67,28.34,37.84,36.28,39.14,42.86,47.82,53.51,47.93,51.67
10,000040,KR모터스,12,%,309.21,121.62,139.80,137.27,132.57,198.94,104.02,96.27,93.90,116.86,124.00,100.23
11,000050,경방,12,%,84.85,83.67,82.23,91.50,98.90,101.00,103.79,115.08,114.76,110.01,107.38,93.31
12,000070,삼양홀딩스,12,%,76.87,65.53,68.88,71.26,70.98,69.00,56.50,65.27,45.22,57.12,64.51,58.79
13,000080,하이트진로,12,%,216.58,194.92,188.10,163.26,161.25,157.72,156.89,149.72,151.06,132.47,95.40,177.86

In [58]:
df_x3 = pd.read_excel("당좌비율.xlsx")[9:]
df_x3.columns = ["종목코드","기업명","결산월","단위","2019","2018","2017","2016","2015","2014","2013","2012","2011","2010","2009","2008"]
df_x3.head(5)

,종목코드,기업명,결산월,단위,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
9,000020,동화약품,12,%,362.61,302.92,325.93,225.27,157.82,133.74,117.65,108.52,114.00,136.77,73.26,107.30
10,000040,KR모터스,12,%,43.16,92.73,64.82,66.03,66.92,63.66,93.98,84.37,96.95,87.22,71.12,67.05
11,000050,경방,12,%,121.40,37.34,18.26,38.72,29.70,15.50,46.74,42.91,15.80,41.44,62.89,28.26
12,000070,삼양홀딩스,12,%,180.74,109.61,156.02,120.01,134.62,124.23,118.39,117.43,126.12,111.45,131.98,75.10
13,000080,하이트진로,12,%,44.52,53.88,56.69,58.68,49.72,45.56,46.97,46.45,56.49,59.04,51.67,46.07

In [59]:
df_x4 = pd.read_excel("ROE.xlsx")[9:]
df_x4.columns = ["종목코드","기업명","결산월","단위","2019","2018","2017","2016","2015","2014","2013","2012","2011","2010","2009","2008"]
df_x4.head(5)

,종목코드,기업명,결산월,단위,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
9,000020,동화약품,12,%,3.14,3.39,17.10,10.87,2.44,2.16,0.45,0.57,7.91,N/A(IFRS),4.33,14.83
10,000040,KR모터스,12,%,-78.10,-42.47,-58.35,-15.29,-29.24,-24.69,-11.20,-12.71,2.81,N/A(IFRS),-17.72,-16.49
11,000050,경방,12,%,6.02,2.87,3.67,4.39,2.55,1.79,2.32,-1.27,-0.18,N/A(IFRS),-0.04,-3.74
12,000070,삼양홀딩스,12,%,3.08,5.20,3.55,3.57,4.52,1.27,-1.58,8.76,11.89,N/A(IFRS),10.89,-7.24
13,000080,하이트진로,12,%,-3.86,1.87,1.02,2.94,4.02,1.57,5.67,7.31,6.91,N/A(IFRS),20.24,40.25

In [60]:
df_x5 = pd.read_excel("EPS.xlsx")[9:]
df_x5.columns = ["종목코드","기업명","결산월","단위","2019","2018","2017","2016","2015","2014","2013","2012","2011","2010","2009","2008"]
df_x5.head(5)

,종목코드,기업명,결산월,단위,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
9,000020,동화약품,12,원,337.0,360.0,1683.0,940.0,201.0,177.0,36.0,47.0,633.0,394.0,324.0,5105.0
10,000040,KR모터스,12,원,-214.0,-189.0,-263.0,-57.0,-95.0,-107.0,-52.0,-62.0,16.0,-2.0,-91.0,-83.0
11,000050,경방,12,원,1591.0,737.0,923.0,1075.0,6089.0,4190.0,5855.0,-3800.0,-535.0,9666.0,-75.0,-7132.0
12,000070,삼양홀딩스,12,원,3481.0,7890.0,4248.0,2550.0,5242.0,296.0,-3896.0,16766.0,15838.0,11433.0,8016.0,-5385.0
13,000080,하이트진로,12,원,-594.0,312.0,178.0,538.0,747.0,297.0,1117.0,1465.0,1396.0,1136.0,2867.0,3600.0

In [61]:
df_x1_2011 = df_x1[["종목코드","기업명","2011"]].rename(columns={"2011":"X5"})
df_x2_2011 = df_x2[["2011"]].rename(columns={"2011":"X6"})
df_x3_2011 = df_x3[["2011"]].rename(columns={"2011":"X7"})
df_x4_2011 = df_x4[["2011"]].rename(columns={"2011":"X8"})
df_x5_2011 = df_x5[["2011"]].rename(columns={"2011":"X9"})
df_x1_2011 = df_x1[["종목코드","기업명","2012"]].rename(columns={"2012":"X5"})
df_x2_2011 = df_x2[["2012"]].rename(columns={"2012":"X6"})
df_x3_2011 = df_x3[["2012"]].rename(columns={"2012":"X7"})
df_x4_2011 = df_x4[["2012"]].rename(columns={"2012":"X8"})
df_x5_2011 = df_x5[["2012"]].rename(columns={"2012":"X9"})
df_x5_2011.tail()

         X9
2212  444.0
2213    NaN
2214    NaN
2215    NaN
2216    NaN